@{
    ViewBag.Title = "AddDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <fieldset>
            <legend style="font-size: large">
                <b>Add new device</b>
            </legend>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Description">
            </div>
            <div class="form-group">
                <b>Current Status</b>
            </div>
            <div class="form-group">
                <b>Schedule</b>
                <form>
                    <input id="radioDefault" type="radio" name="schedule" value="default" checked>
                    Default schedule<br>
                    <input id="radioCustom" type="radio" name="schedule" value="custom">
                    Custom schedule
                    <div id="customDiv" class="hidden">
                        <p>apare</p>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6  col-sm-6 col-lg-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-block" style="font-size: large">Save</button>
                </div>
                <div class="col-lg-6 col-md-6  col-sm-6 col-lg-6 col-xs-6">
                    <a type="button" class="btn btn-warning btn-block" style="font-size: large" href="~/Devices/List">Cancel</a>
                </div>
            </div>
        </fieldset>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $("#radioCustom").click(function () {
            $("#customDiv").removeClass("hidden");
        });
        $("#radioDefault").click(function () {
            $("#customDiv").addClass("hidden");
        });
    </script>
}