@{
    ViewBag.Title = "DevicesSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td style="font-size: large"><b>General Devices Settings</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Schedule</b></td>
                    <td><a href="#">Change default schedule</a></td>
                </tr>
                <tr>
                    <td><b>On vacation</b></td>
                    <td><a href="#">Turn off all devices</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
